config clatun 'config'
  option enabled '0'
  option ipv6 '0'
  option tun 'utun'
  option mark '162'
  option iface 'br-lan'
  option dnsport '53'
  
  list device '00:11:22:33:44:55'

  list ipv4_bypass '0.0.0.0/8'
  list ipv4_bypass '10.0.0.0/8'
  list ipv4_bypass '100.64.0.0/10'
  list ipv4_bypass '127.0.0.0/8'
  list ipv4_bypass '169.254.0.0/16'
  list ipv4_bypass '172.16.0.0/12'
  list ipv4_bypass '192.0.0.0/24'
  list ipv4_bypass '192.0.2.0/24'
  list ipv4_bypass '192.88.99.0/24'
  list ipv4_bypass '192.168.0.0/16'
  list ipv4_bypass '198.18.0.0/15'
  list ipv4_bypass '198.51.100.0/24'
  list ipv4_bypass '203.0.113.0/24'
  list ipv4_bypass '224.0.0.0/4'
  list ipv4_bypass '240.0.0.0/4'

  list ipv6_bypass '::/128'
  list ipv6_bypass '::1/128'
  list ipv6_bypass '::ffff:0:0/96'
  list ipv6_bypass '::ffff:0:0:0/96'
  list ipv6_bypass '64:ff9b::/96'
  list ipv6_bypass '64:ff9b:1::/48'
  list ipv6_bypass '100::/64'
  list ipv6_bypass '2001:0000::/32'
  list ipv6_bypass '2001:20::/28'
  list ipv6_bypass '2001:db8::/32'
  list ipv6_bypass '2002::/16'
  list ipv6_bypass 'fc00::/7'
  list ipv6_bypass 'fe80::/10'
  list ipv6_bypass 'ff00::/8'